@model Region.Models.Country

@{
    var errorMessage = TempData["ErrorMessage"]?.ToString();
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger" id='message'> @errorMessage</p>
}


<div class="col-4 offset-5">
    <form method="post" asp-action="AddCountry">

        <label>
            Country Name:
        </label>
            <input type="text" asp-for="CountryName" placeholder="Enter Country Name" />
        
        <span asp-validation-for="CountryName" class="text-danger"></span>

        <div class="m-3 text-center" style="margin-right: 131px  !important;">

            <button type="submit" class="btn btn-primary text-center">Add</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="AddCountry">Cancel</a>

        </div>
    </form>
</div>


@{
    <div class="container">
        <div class="row">

            <table class="table table-bordered ">
                <tr>
                    <th>countryId</th>
                    <th>countryname</th>
                    <th>Actions</th>
                </tr>
               


                @foreach (var item in ViewBag.Country)
                {
                    <tr>
                        <td>@item.CountryId</td>
                        <td>@item.CountryName</td>
                        <td>


                            <a class=" btn btn-warning m-1" asp-action="UpdateCountry" asp-route-id="@item.CountryId">Edit</a>

                            <a class=" btn btn-danger m-1" asp-action="DeleteCountry" asp-route-id="@item.CountryId">Delete</a>
                        </td>

                    </tr>
                }
                

            </table>
        </div>
    </div>

}

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}











