@model Region.Models.State

@{
    var errorMessage = TempData["ErrorMessage"]?.ToString();
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger" id='message'> @errorMessage</p>
}

<div class="col-4 offset-5">
    <form method="post" asp-action="AddState">
        <div style="margin-bottom:20px;">
            <label> Country: </label>
            <select asp-for="CountryId" id="coumtrylist" asp-items="ViewBag.List" style="width: 183px;">
                <option>select Country</option>
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label> State:</label>
            <input type="text" asp-for="StateName" placeholder="Enter state Name" style="margin-left: 17px;" />

            <span asp-validation-for="StateName" class="text-danger"></span>
        </div>


        <div class="m-3 text-center" style="margin-right: 131px  !important;">

            <button type="submit" class="btn btn-primary text-center">Add</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="AddState">Cancel</a>

        </div>
    </form>
</div>

@{
    <div class="container">
        <div class="row">
            <table class="table table-bordered ">
                <tr>

                    <th>countryName</th>
                    <th>stateName</th>
                    <th>Actions</th>
                </tr>
                @foreach (var item in ViewBag.state)
                {
                    <tr>

                        <td>@item.CountryName</td>
                        <td>@item.StateName</td>
                        <td>
                            <a class=" btn btn-warning m-1" asp-action="UpdateState" asp-route-id="@item.StateId">Edit</a>
                            <a class=" btn btn-danger m-1" asp-action="DeleteState" asp-route-id="@item.StateId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}